doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= t('appName')
    link(rel="stylesheet" href="/assets/bundle.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href="/") TaskManager
        .collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/users") #{t('users')}
            li.nav-item
              a.nav-link(href="/statuses") #{t('statuses')}
            if currentUser
              li.nav-item
                span.nav-link #{currentUser.firstName}
              li.nav-item
                form(action="/session/delete" method="POST")
                  button.btn.btn-link.nav-link(type="submit") #{t('logOut')}
            else
              li.nav-item
                a.nav-link(href="/session/new") #{t('logIn')}
              li.nav-item
                a.nav-link(href="/users/new") #{t('signUp')}
    .container.mt-3
      if flash.success && flash.success.length
        each message in flash.success
          .alert.alert-success= message
      if flash.error && flash.error.length
        each message in flash.error
          .alert.alert-danger= message

    .container.mt-5
      block content

    script(src="/assets/bundle.js")